USE [master]
GO
/****** Object:  Database [BlogEngineTK]    Script Date: 4/26/2013 3:55:11 PM ******/
CREATE DATABASE [BlogEngineTK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BlogEngineTK', FILENAME = N'C:\Users\user_1\BlogEngineTK.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BlogEngineTK_log', FILENAME = N'C:\Users\user_1\BlogEngineTK_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BlogEngineTK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BlogEngineTK]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 4/26/2013 3:55:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PostId] [int] IDENTITY(1,1) NOT NULL,
	[RouteSegment] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Header] [nvarchar](256) NOT NULL,
	[ShortText] [nvarchar](max) NOT NULL,
	[FullText] [nvarchar](max) NOT NULL,
	[CommentsNumber] [int] NOT NULL,
	[Language] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Posts] PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

SET IDENTITY_INSERT [dbo].[Posts] OFF
USE [master]
GO
